@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-button {
    @apply bg-rose-500 disabled:bg-rose-200 py-3 px-6 rounded-lg transition-colors flex justify-center font-semibold text-white;
  }

  .ghost-button {
    @apply bg-zinc-300 hover:bg-zinc-400 py-4 rounded-lg transition-colors;
  }

  .section-header {
    @apply fixed top-0 bg-white w-full h-16 border-b border-zinc-200;
  }

  .section-title {
    @apply text-xl font-semibold;
  }

  .input-base {
    @apply w-full p-4 rounded-sm border border-zinc-200 focus-visible:outline-zinc-400 focus:outline-zinc-400;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
