@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Hide scrollbar for modern browsers (Chrome, Edge based on Chromium) */
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }

  /* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .primary-button {
    @apply bg-red-500 disabled:bg-zinc-400 disabled:pointer-events-none disabled:cursor-default py-3 px-6 rounded-lg transition-colors flex justify-center font-semibold text-white;
  }

  .secondary-button {
    @apply border border-zinc-700 rounded-md disabled:opacity-50 disabled:pointer-events-none disabled:cursor-default;
  }

  .alert-button {
    @apply text-white bg-red-500 hover:bg-red-600 disabled:bg-zinc-100 disabled:hover:bg-zinc-100;
  }

  .ghost-button {
    @apply bg-zinc-300 hover:bg-zinc-400 py-4 rounded-lg transition-colors;
  }

  .section-header {
    @apply fixed top-0 bg-white w-full h-16 border-b border-zinc-200;
  }

  .section-title {
    @apply text-xl font-semibold;
  }

  .input-base {
    @apply w-full p-4 rounded-sm border border-zinc-200 focus-visible:outline-zinc-400 focus:outline-zinc-400;
  }

  .notification-base {
    @apply fixed top-14 left-1/2 -translate-x-1/2 p-4 rounded-md shadow-lg z-[70];
  }

  .modal-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-[999];
  }
}

@layer utilities {
  .input-field {
    @apply p-2 border border-zinc-200 rounded-md w-full;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
