@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-button {
    @apply button-base bg-green-500 hover:bg-green-600 disabled:bg-zinc-100 disabled:hover:bg-zinc-100;
  }

  .ghost-button {
    @apply button-base bg-zinc-300 hover:bg-zinc-400;
  }

  .section-title {
    @apply text-xl font-semibold;
  }

  .box {
    @apply bg-white rounded-md p-4 shadow-md shadow-slate-200;
  }
}

@layer utilities {
  .button-base {
    @apply py-4 px-2 rounded-lg transition-colors flex justify-center;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#to-print {
  visibility: hidden;
  position: absolute;
}

.logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.logo {
  width: 310px;
  height: 130px;
  object-fit: contain;
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
}

.ticket-table, .ticket-td, .ticket-th {
  border: 1px solid black;
}

.ticket-td, .ticket-th {
  padding: 5px;
}

.qty {
  width: 10px;
}

.qty-col {
  position: relative;
}

.mb-sm {
  margin-bottom: 4px;
}

.art {
  flex: 1;
}

.item {
  display: flex; 
}

.text-sm {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.emph {
  font-weight: bold;
}
