@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-button {
    @apply button-base bg-green-500 hover:bg-green-600 disabled:bg-zinc-100 disabled:hover:bg-zinc-100;
  }

  .ghost-button {
    @apply button-base bg-zinc-300 hover:bg-zinc-400;
  }

  .section-title {
    @apply text-xl font-semibold;
  }

  .box {
    @apply bg-white rounded-md p-4 shadow-md shadow-slate-200;
  }
}

@layer utilities {
  .button-base {
    @apply py-4 px-2 rounded-lg transition-colors flex justify-center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#to-print {
  visibility: hidden;
  position: absolute;
}

@media print {
  body {
    visibility: hidden;
  }

  #to-print {
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
      padding: 10px;
  }

  .logo-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .logo {
      width: 120px;
      height: 120px;
      object-fit: contain;
  }

  table, td, th {
      border: 1px solid black;
  }

  td, th {
      padding: 5px;
  }

  table {
      width: 100%;
      border-collapse: collapse;
  }

  .th {
      font-size: 14px;
  }

  .qty {
      width: 10px;
  }

  .art {
      flex: 1;
  }

  .item {
    display: flex; 
  }

  .text-sm {
      font-size: 12px;
  }

  .text-md {
      font-size: 14px;
  }

  .align-left {
      text-align: left;
  }

  .emph {
      font-weight: bold;
      font-size: 16px;
  }
}
